Dado um DataFrame chamado "df" com as colunas "A", "B" e "C", remova todas as linhas em que o valor da coluna "A" seja menor que 10 e o valor da coluna "B" seja maior que 20.

In [120]:
import pandas as pd
import random as rd
import numpy as np

tabela = []
for i in range(5):
    tabela.append([])
    for j in range(3):
        tabela[i].append(rd.randint(1,50))
df = pd.DataFrame(tabela, columns=['A', 'B', 'C'])
df[(df['A'] > 10) & (df['B'] < 20)]

    A  B   C
3  45  7  24

Dado um DataFrame chamado "df" com as colunas "Name" e "Score", encontre o nome do aluno com a maior pontuação.

In [119]:
arquivo = pd.read_csv('siagrad-nota-parcial.csv', sep=',')
df2 = pd.DataFrame(arquivo)
df2.sort_values(by='Score', ascending=False).head(1)['Name']
df2.max()

Name     Pedro
Score     10.0
dtype: object

Uma universidade possui 30 alunos na turma A e deseja criar um arquivo para essa turma chamado "dadosAlunosA.csv". Nesse arquivo, cada linha representa um aluno e as colunas representam as informações do aluno, isto é, nome, idade, gênero, nota em Python - básico e nota em Python - avançado. Escreva um código em Python utilizando dicionários e as bibliotecas pandas para:


a) Criar o arquivo dadosAlunos.csv
b) Calcular a média e o desvio padrão das notas em Python - básico e em Python - avançado de todos os alunos
c) Calcular a média e o desvio padrão das notas em Python - básico e em Python - avançado separadamente para os alunos do gênero masculino e feminino
d) Identificar e exibir os alunos que tiveram as melhoras notas em Python - básico e em Python - avançado
e) Identificar e exibir os alunos que tiveram as piores notas em Python - básico e em Python - avançado 
f) Exibir se o aluno foi aprovado ou reprovado em Python - básico e em Python - avançado. Considere que a média é 7.0

In [138]:
#A
texto = 'nome,idade,genero,nota\n\
Pedro,22,M,7.5\n\
Maria,21,F,8\n\
Lucas,30,M,10\n\
Jose,18,M,4.3\n\
Ana,19,F,5.5'

with open('dadosAlunosA.csv', 'w') as dadosAlunos:
    dadosAlunos.write(texto)

In [142]:
#B
df3 = pd.read_csv('dadosAlunosA.csv')
display(df3['nota'].mean())

7.06

In [ ]:
#C
display(df3(['genero'] == 'M') & (['nota'].mean))