**UNIT - Curso de Computação**

**Laboratório de Programação**

Profª. Layse Santos Souza

# **ESTRUTURAS DE DADOS EXTERNAS (DataFrame)**

* Estrutura de dados bidimensional, isto é, os dados são alinhados de forma tabular em linhas e colunas, mutável em tamanho e potencialmente heterogênea (parecida com um MS-EXCEL)

  * As colunas possuem nomes de acordo com o índice de coluna

  * As linhas podem ter nomes de acordo com os índices textuais ou números de acordo com os índices numéricos

![001.png]()

[Pandas - DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

* Utilizamos o Pandas DataFrame para criar a partir de listas, dicionários e de uma lista de dicionários ou carregar conjuntos de dados

In [22]:
import pandas as pd

## Criando um dataframe usando uma única lista ou uma lista de listas

In [23]:
linguagens = ['Python', 'Java', 'C', 'Ruby', 'Cobol', 'Assembly']

df = pd.DataFrame(linguagens)

In [24]:
print(df)

          0
0    Python
1      Java
2         C
3      Ruby
4     Cobol
5  Assembly

In [25]:
df

          0
0    Python
1      Java
2         C
3      Ruby
4     Cobol
5  Assembly

## Criando um dataframe usando um dicionário composto por listas

In [26]:
nomeIdade = {'Nome':['Maria', 'José', 'João', 'Ana'],
             'Idade':[20,21,19,18]}

df = pd.DataFrame(nomeIdade)

In [27]:
df

    Nome  Idade
0  Maria     20
1   José     21
2   João     19
3    Ana     18

* Visualizando os nomes das colunas

In [28]:
print(df.columns)

Index(['Nome', 'Idade'], dtype='object')

* Visualizando os valores dos índices

In [29]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)

## Criando um dataframe usando matrizes

* Matriz 2x3

In [30]:
import numpy as np

matriz = np.array([[1,2,3],[4,5,6]], np.int32)
df = pd.DataFrame(matriz, columns=['coluna1', 'coluna2', 'coluna3'])

In [31]:
df

   coluna1  coluna2  coluna3
0        1        2        3
1        4        5        6

* Exibindo apenas os dados da coluna 3 onde o valor da coluna 2 é igual a 5 utilizando o método *loc*

In [32]:
exibirColuna = df.loc[df['coluna2'] == 5, 'coluna3']
print(exibirColuna)

1    6
Name: coluna3, dtype: int32

## Criando um dataframe usando Series de objetos

In [33]:
nomesPaises = pd.Series(['China', 'India', 'Brasil', 'Estados Unidos',
                         'Japão', 'Reino Unido', 'Argentina'])
populacaoPaises = pd.Series([1412000000, 1408000000, 21400000, 331900000,
                             127500000, 67330000, 45810000])

paises = pd.DataFrame({'Nome dos paises':nomesPaises, 
                       'Populacao':populacaoPaises})

In [34]:
paises

  Nome dos paises   Populacao
0           China  1412000000
1           India  1408000000
2          Brasil    21400000
3  Estados Unidos   331900000
4           Japão   127500000
5     Reino Unido    67330000
6       Argentina    45810000

## Manipulando colunas e linhas de um dataframe

In [35]:
dadosPessoais = {'Nome': ['Paula', 'José', 'Maria', 'João', 'Pedro', 'Ana'],
                 'Idade': [20, 23, 54, 36, 26, 57],
                 'Cidade': ['Aracaju', 'Salvador', 'Recife', 'Curitiba', 
                            'São Paulo', 'Rio de Janeiro'], 
                 'Nota': [8.3, 2.5, 8.7, 8.1, 5.2, 5.3]}

df = pd.DataFrame(dadosPessoais)
df

    Nome  Idade          Cidade  Nota
0  Paula     20         Aracaju   8.3
1   José     23        Salvador   2.5
2  Maria     54          Recife   8.7
3   João     36        Curitiba   8.1
4  Pedro     26       São Paulo   5.2
5    Ana     57  Rio de Janeiro   5.3

### Selecionando colunas

* Forma 1

In [36]:
print(df['Nome'])

0    Paula
1     José
2    Maria
3     João
4    Pedro
5      Ana
Name: Nome, dtype: object

* Forma 2

In [37]:
print(df.Cidade)

0           Aracaju
1          Salvador
2            Recife
3          Curitiba
4         São Paulo
5    Rio de Janeiro
Name: Cidade, dtype: object

* Múltiplas colunas

In [38]:
print(df[['Nome', 'Cidade']])

    Nome          Cidade
0  Paula         Aracaju
1   José        Salvador
2  Maria          Recife
3   João        Curitiba
4  Pedro       São Paulo
5    Ana  Rio de Janeiro

### Iterando sobre colunas criando uma lista de colunas

In [39]:
colunas = list(df) 
for i in colunas:
  print(df[i][2])

Maria
54
Recife
8.7

### Selecionando linhas

In [40]:
linhasCidade = df['Cidade']
print(linhasCidade)

0           Aracaju
1          Salvador
2            Recife
3          Curitiba
4         São Paulo
5    Rio de Janeiro
Name: Cidade, dtype: object

### Iterando sobre linhas utilizando o método iterrows()

In [42]:
for i, j in df.iterrows():
  print(i,j)
  print()

0 Nome        Paula
Idade          20
Cidade    Aracaju
Nota          8.3
Name: 0, dtype: object

1 Nome          José
Idade           23
Cidade    Salvador
Nota           2.5
Name: 1, dtype: object

2 Nome       Maria
Idade         54
Cidade    Recife
Nota         8.7
Name: 2, dtype: object

3 Nome          João
Idade           36
Cidade    Curitiba
Nota           8.1
Name: 3, dtype: object

4 Nome          Pedro
Idade            26
Cidade    São Paulo
Nota            5.2
Name: 4, dtype: object

5 Nome                 Ana
Idade                 57
Cidade    Rio de Janeiro
Nota                 5.3
Name: 5, dtype: object

## Criando um dataframe a partir da leitura do arquivo **nba.csv**

* Carregando e imprimindo o arquivo *nba.csv*

In [54]:
dados = pd.read_csv('/content/nba.csv')
dados

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
dadosArquivo = pd.read_csv('/content/nba.csv', index_col='Name')

In [44]:
dadosArquivo

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Recuperando os dados utilizando slice ([ ])

In [45]:
dadosArquivo[:2]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

* Recuperando os nomes e as idades dos 3 primeiros

In [46]:
dadosArquivo[:3]['Age']

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
Name: Age, dtype: float64

In [50]:
dadosArquivo[:0]['Avery Bradley']

KeyError: ignored

* Recuperando as linhas utilizando o método *.loc*, isto é, rótulo ou declaração condicional

In [48]:
primeiraLinha = dadosArquivo.loc['Avery Bradley']
segundaLinha = dadosArquivo.loc['Jae Crowder']
terceiraLinha = dadosArquivo.loc['John Holland']

print(primeiraLinha, '\n\n\n', segundaLinha, '\n\n\n', terceiraLinha)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object


 Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

* Recuperando uma única linha utilizando o método *.iloc*, isto é, números de linha

In [51]:
linha1 = dadosArquivo.iloc[0]
print(linha1)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

* Recuperando os nomes e as idades com menos de 25 anos

In [52]:
dadosArquivo.loc[dadosArquivo['Age'] < 25.0, ['Age']]

                  Age
Name
R.J. Hunter      22.0
Jordan Mickey    21.0
Terry Rozier     22.0
Marcus Smart     22.0
Jared Sullinger  24.0
...               ...
Derrick Favors   24.0
Rudy Gobert      23.0
Rodney Hood      23.0
Trey Lyles       20.0
Raul Neto        24.0

[154 rows x 1 columns]

# Exemplo Completo - DataFrame

1. Importar as bibliotecas necessárias

In [55]:
import pandas as pd
import numpy as np

2. Criar o dicionário com as informações necessárias dos animais

In [56]:
infoZoo = {'animal': ['gato', 'gato', 'cobra', 'cachorro', 'cachorro',
                      'gato', 'cobra', 'gato', 'cachorro', 'cachorro'],
           'idade': [2.6, 1, 0.5, np.nan, 5, 2, np.nan, 4, 9, 7],
           'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
           'prioridade':['sim', 'sim', 'não', 'sim', 'não', 'não',
                         'sim', 'não', 'não', 'sim']}

In [57]:
print(infoZoo)

{'animal': ['gato', 'gato', 'cobra', 'cachorro', 'cachorro', 'gato', 'cobra', 'gato', 'cachorro', 'cachorro'], 'idade': [2.6, 1, 0.5, nan, 5, 2, nan, 4, 9, 7], 'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'prioridade': ['sim', 'sim', 'não', 'sim', 'não', 'não', 'sim', 'não', 'não', 'sim']}

3. Criar e exibir o DataFrame a partir das informações do dicionário

In [58]:
df = pd.DataFrame(infoZoo)
df

     animal  idade  visitas prioridade
0      gato    2.6        1        sim
1      gato    1.0        3        sim
2     cobra    0.5        2        não
3  cachorro    NaN        3        sim
4  cachorro    5.0        2        não
5      gato    2.0        3        não
6     cobra    NaN        1        sim
7      gato    4.0        1        não
8  cachorro    9.0        2        não
9  cachorro    7.0        1        sim

4. Exibir um resumo das informações básicas sobre o DataFrame e seus dados, isto é, total, média, desvio padrão, mínimo, máximo e entre outros.

In [59]:
df.describe()

          idade    visitas
count  8.000000  10.000000
mean   3.887500   1.900000
std    2.978704   0.875595
min    0.500000   1.000000
25%    1.750000   1.000000
50%    3.300000   2.000000
75%    5.500000   2.750000
max    9.000000   3.000000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   animal      10 non-null     object
 1   idade       8 non-null      float64
 2   visitas     10 non-null     int64
 3   prioridade  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

5. Retornar as 4 primeiras linhas do DataFrame.

In [61]:
df.head(4)

     animal  idade  visitas prioridade
0      gato    2.6        1        sim
1      gato    1.0        3        sim
2     cobra    0.5        2        não
3  cachorro    NaN        3        sim

6. Selecionar e exibir apenas as colunas 'animal' e 'idade' do DataFrame.

In [62]:
df[['animal', 'idade']]

     animal  idade
0      gato    2.6
1      gato    1.0
2     cobra    0.5
3  cachorro    NaN
4  cachorro    5.0
5      gato    2.0
6     cobra    NaN
7      gato    4.0
8  cachorro    9.0
9  cachorro    7.0

7. Selecionar e exibir os dados nas linhas [3, 4, 8] e nas colunas ['animal', 'idade'].

In [63]:
df.loc[df.index[[3,4,8]], ['animal', 'idade']]

     animal  idade
3  cachorro    NaN
4  cachorro    5.0
8  cachorro    9.0

8. Selecionar e exibir apenas as linhas em que o número de visitas é maior que 3.

In [64]:
df[df['visitas'] > 3]

Empty DataFrame
Columns: [animal, idade, visitas, prioridade]
Index: []

9. Selecionar e exibir as linhas onde a idade está faltando, ou seja, é NaN.

In [65]:
df[df['idade'].isnull()]

     animal  idade  visitas prioridade
3  cachorro    NaN        3        sim
6     cobra    NaN        1        sim

10. Selecionar e exibir as fileiras onde o animal é um gato e a idade é menor que 3.

In [66]:
df[(df['animal'] == 'gato') & (df['idade'] < 3)]

  animal  idade  visitas prioridade
0   gato    2.6        1        sim
1   gato    1.0        3        sim
5   gato    2.0        3        não

11. Selecionar e exibir as linhas em que a idade está entre 2 e 4 (inclusive).

In [67]:
df[df.idade.between(2,4)]

  animal  idade  visitas prioridade
0   gato    2.6        1        sim
5   gato    2.0        3        não
7   gato    4.0        1        não

12. Alterar e exibir a idade na linha 5 para 1,5.

In [68]:
df.loc[5, 'idade'] = 1.5

In [69]:
df.loc[5].idade

1.5

In [70]:
df

     animal  idade  visitas prioridade
0      gato    2.6        1        sim
1      gato    1.0        3        sim
2     cobra    0.5        2        não
3  cachorro    NaN        3        sim
4  cachorro    5.0        2        não
5      gato    1.5        3        não
6     cobra    NaN        1        sim
7      gato    4.0        1        não
8  cachorro    9.0        2        não
9  cachorro    7.0        1        sim

13. Calcular e exibir a soma de todas as visitas (o número total de visitas).

In [71]:
df.visitas.sum()

19

14. Calcular e exibir a idade média para cada animal diferente no DataFrame.

In [72]:
df.groupby('animal')['idade'].mean()

animal
cachorro    7.000
cobra       0.500
gato        2.275
Name: idade, dtype: float64

15. Inserir e exibir uma nova linha 10 ao DataFrame com valores para cada coluna.

In [73]:
df.loc[10] = ['passaro', 4, 10, 'não']

In [74]:
df

      animal  idade  visitas prioridade
0       gato    2.6        1        sim
1       gato    1.0        3        sim
2      cobra    0.5        2        não
3   cachorro    NaN        3        sim
4   cachorro    5.0        2        não
5       gato    1.5        3        não
6      cobra    NaN        1        sim
7       gato    4.0        1        não
8   cachorro    9.0        2        não
9   cachorro    7.0        1        sim
10   passaro    4.0       10        não

16. Excluir a linha 10 para retornar o DataFrame original.

In [75]:
df = df.drop(10)

In [76]:
df

     animal  idade  visitas prioridade
0      gato    2.6        1        sim
1      gato    1.0        3        sim
2     cobra    0.5        2        não
3  cachorro    NaN        3        sim
4  cachorro    5.0        2        não
5      gato    1.5        3        não
6     cobra    NaN        1        sim
7      gato    4.0        1        não
8  cachorro    9.0        2        não
9  cachorro    7.0        1        sim

17. Contar e exibir o número de cada tipo de animal do DataFrame.

In [77]:
df.animal.value_counts()

gato        4
cachorro    4
cobra       2
Name: animal, dtype: int64

18. Classificar e exibir o DataFrame primeiro pelos valores na 'idade' em ordem decrescente, e em seguida pelo valor na coluna 'visita' em ordem crescente (ascending).

In [78]:
df.sort_values(by=['idade', 'visitas'], ascending=[False, True])

     animal  idade  visitas prioridade
8  cachorro    9.0        2        não
9  cachorro    7.0        1        sim
4  cachorro    5.0        2        não
7      gato    4.0        1        não
0      gato    2.6        1        sim
5      gato    1.5        3        não
1      gato    1.0        3        sim
2     cobra    0.5        2        não
6     cobra    NaN        1        sim
3  cachorro    NaN        3        sim

19. Substituir e exibir os valores da coluna prioridade, isto é, onde tem sim deve ser True e não deve ser False.

In [79]:
df['prioridade'] = df['prioridade'].map({'sim': True, 'não': False})

In [80]:
df

     animal  idade  visitas  prioridade
0      gato    2.6        1        True
1      gato    1.0        3        True
2     cobra    0.5        2       False
3  cachorro    NaN        3        True
4  cachorro    5.0        2       False
5      gato    1.5        3       False
6     cobra    NaN        1        True
7      gato    4.0        1       False
8  cachorro    9.0        2       False
9  cachorro    7.0        1        True

20. Alterar e exibir na coluna 'animal', o nome cobra para cavalo.

In [81]:
df['animal'] = df['animal'].replace('cobra', 'cavalo')

In [82]:
df

     animal  idade  visitas  prioridade
0      gato    2.6        1        True
1      gato    1.0        3        True
2    cavalo    0.5        2       False
3  cachorro    NaN        3        True
4  cachorro    5.0        2       False
5      gato    1.5        3       False
6    cavalo    NaN        1        True
7      gato    4.0        1       False
8  cachorro    9.0        2       False
9  cachorro    7.0        1        True