**UNIT - Curso de Computação**

**Laboratório de Programação**

Profª. Ma. Layse Souza

# Gabarito - Exercício DataFrame

1) Criar um DataFrame com 2 linhas (índices 0 e 1) e 5 colunas ('Nome', 'Idade', 'Sexo', 'Peso', 'Altura'). As informações para colocar no DataFrame é de sua escolha.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([['Ana', 21, 'F', 50, 1.57], ['José', 22, 'M', 58, 1.71]],
                  index = range(0,2), columns = ['Nome', 'Idade', 'Sexo',
                                                'Peso', 'Altura'])

In [ ]:
df

   Nome  Idade Sexo  Peso  Altura
0   Ana     21    F    50    1.57
1  José     22    M    58    1.71

2) Criar um DataFrame utilizando uma matriz 3x3 que possui as seguintes colunas País, Capital e População. As informações para colocar no DataFrame é de sua escolha.

In [ ]:
dadosPaises = np.array([['Portugal', 'Lisboa', 10000000],
                        ['Peru', 'Lima', 32000000],
                        ['Brasil', 'Brasilia', 203000000]])

df = pd.DataFrame(dadosPaises, columns=['Pais', 'Capital', 'Populacao'])
df

       Pais   Capital  Populacao
0  Portugal    Lisboa   10000000
1      Peru      Lima   32000000
2    Brasil  Brasilia  203000000

In [ ]:
dadosPaisesD = {"Pais":["Portugal", "Peru", "Brasil"],
               "Capital":["Lisboa", "Lima", "Brasilia"],
               "Populacao":[10000000, 32000000, 203000000]}

dfD = pd.DataFrame(dadosPaisesD)
dfD

       Pais   Capital  Populacao
0  Portugal    Lisboa   10000000
1      Peru      Lima   32000000
2    Brasil  Brasilia  203000000

3) Uma universidade possui 30 alunos na turma A e deseja criar um arquivo para essa turma chamado "dadosAlunosA.csv". Nesse arquivo, cada linha representa um aluno e as colunas representam as informações do aluno, isto é, nome, idade, gênero, nota em Python - básico e nota em Python - avançado. Escreva um código em Python utilizando dicionários e as bibliotecas pandas para:


a) Criar o arquivo **dadosAlunosA.csv**

b) Calcular a média e o desvio padrão das notas em Python - básico e em Python - avançado de todos os alunos

c) Calcular a média e o desvio padrão das notas em Python - básico e em Python - avançado separadamente para os alunos do gênero masculino e feminino

d) Identificar e exibir os alunos que tiveram as melhoras notas em Python - básico e em Python - avançado

e) Identificar e exibir os alunos que tiveram as piores notas em Python - básico e em Python - avançado 

f) Exibir se o aluno foi aprovado ou reprovado em Python - básico e em Python - avançado. Considere que a média é 7.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# a

dado_aluno1 = {'Nome':'Ana', 'Idade':20, 'Genero':'F', 
               'Nota_Python_Basico':8.5, 'Nota_Python_Avancado':7.8}
dado_aluno2 = {'Nome':'Maria', 'Idade':21, 'Genero':'F', 
               'Nota_Python_Basico':7.5, 'Nota_Python_Avancado':6.8}
dado_aluno3 = {'Nome':'Joao', 'Idade':22, 'Genero':'M', 
               'Nota_Python_Basico':5.5, 'Nota_Python_Avancado':4.8}
dado_aluno4 = {'Nome':'Jose', 'Idade':23, 'Genero':'M', 
               'Nota_Python_Basico':9.5, 'Nota_Python_Avancado':3.8}

dados_alunos = pd.DataFrame([dado_aluno1, dado_aluno2, dado_aluno3,
                             dado_aluno4])

dados_alunos.to_csv('/content/drive/MyDrive/2023.1/Laboratório de Programação (N02 - Terça 15:10 a 18:30)/Unidade II/Aula 08/dadosAlunosA.csv', index=False)

In [ ]:
# b

dados_alunos = pd.read_csv('/content/drive/MyDrive/2023.1/Laboratório de Programação (N02 - Terça 15:10 a 18:30)/Unidade II/Aula 08/dadosAlunosA.csv')

media_basico = dados_alunos['Nota_Python_Basico'].mean()
desvio_basico = dados_alunos['Nota_Python_Basico'].std()

media_avancado = dados_alunos['Nota_Python_Avancado'].mean()
desvio_avancado = dados_alunos['Nota_Python_Avancado'].std()

print('Media em Python Basico -> ', media_basico)
print('Desvio padrao em Python Basico -> ', desvio_basico)

print('Media em Python Avancado -> ', media_avancado)
print('Desvio padrao em Python Avancado -> ', desvio_avancado)

Media em Python Basico ->  7.75
Desvio padrao em Python Basico ->  1.707825127659933
Media em Python Avancado ->  5.8
Desvio padrao em Python Avancado ->  1.8257418583505538

In [ ]:
# c - masculino

media_basico_masculino = dados_alunos[dados_alunos['Genero'] == 'M']['Nota_Python_Basico'].mean()
desvio_basico_masculino = dados_alunos[dados_alunos['Genero'] == 'M']['Nota_Python_Basico'].std()

media_avancado_masculino = dados_alunos[dados_alunos['Genero'] == 'M']['Nota_Python_Avancado'].mean()
desvio_avancado_masculino = dados_alunos[dados_alunos['Genero'] == 'M']['Nota_Python_Avancado'].std()

print('---MASCULINO---')
print(f'Media de Python Basico (masculino):{media_basico_masculino}')
print(f'Desvio padrao de Python Basico (masculino):{desvio_basico_masculino}')
print(f'Media de Python Avancado (masculino):{media_avancado_masculino}')
print(f'Desvio padrao de Python Avancado (masculino):{desvio_avancado_masculino}')

---MASCULINO---
Media de Python Basico (masculino):7.5
Desvio padrao de Python Basico (masculino):2.8284271247461903
Media de Python Avancado (masculino):4.3
Desvio padrao de Python Avancado (masculino):0.7071067811865476

In [ ]:
# c - feminino

media_basico_feminino = dados_alunos[dados_alunos['Genero'] == 'F']['Nota_Python_Basico'].mean()
desvio_basico_feminino = dados_alunos[dados_alunos['Genero'] == 'F']['Nota_Python_Basico'].std()

media_avancado_feminino = dados_alunos[dados_alunos['Genero'] == 'F']['Nota_Python_Avancado'].mean()
desvio_avancado_feminino = dados_alunos[dados_alunos['Genero'] == 'F']['Nota_Python_Avancado'].std()

print('---FEMININO---')
print(f'Media de Python Basico (feminino):{media_basico_feminino}')
print(f'Desvio padrao de Python Basico (feminino):{desvio_basico_feminino}')
print(f'Media de Python Avancado (feminino):{media_avancado_feminino}')
print(f'Desvio padrao de Python Avancado (feminino):{desvio_avancado_feminino}')

---FEMININO---
Media de Python Basico (feminino):8.0
Desvio padrao de Python Basico (feminino):0.7071067811865476
Media de Python Avancado (feminino):7.3
Desvio padrao de Python Avancado (feminino):0.7071067811865476

In [ ]:
# d

melhores_notas_basico = dados_alunos.sort_values('Nota_Python_Basico', ascending=False).head(2)
melhores_notas_avancado = dados_alunos.sort_values('Nota_Python_Avancado', ascending=False).head(2)

print('Melhores nota em Python basico: \n ', melhores_notas_basico, '\n')
print('Melhores nota em Python avancado: \n ', melhores_notas_avancado)

Melhores nota em Python basico:
     Nome  Idade Genero  Nota_Python_Basico  Nota_Python_Avancado
3  Jose     23      M                 9.5                   3.8
0   Ana     20      F                 8.5                   7.8

Melhores nota em Python avancado:
      Nome  Idade Genero  Nota_Python_Basico  Nota_Python_Avancado
0    Ana     20      F                 8.5                   7.8
1  Maria     21      F                 7.5                   6.8

In [ ]:
# e
piores_notas_basico = dados_alunos.sort_values('Nota_Python_Basico', ascending=True).head(2)
piores_notas_avancado = dados_alunos.sort_values('Nota_Python_Avancado', ascending=True).head(2)

print('Piores nota em Python basico: \n ', piores_notas_basico, '\n')
print('Piores nota em Python avancado: \n ', piores_notas_avancado)

Piores nota em Python basico:
      Nome  Idade Genero  Nota_Python_Basico  Nota_Python_Avancado
2   Joao     22      M                 5.5                   4.8
1  Maria     21      F                 7.5                   6.8

Piores nota em Python avancado:
     Nome  Idade Genero  Nota_Python_Basico  Nota_Python_Avancado
3  Jose     23      M                 9.5                   3.8
2  Joao     22      M                 5.5                   4.8

In [ ]:
# f

def verificar_aprovacao(nota):
  return 'Aprovado' if nota >= 7.0 else "Reprovado"

dados_alunos['situacao_basico'] = dados_alunos['Nota_Python_Basico'].apply(lambda notaB : verificar_aprovacao(notaB))
dados_alunos['situacao_avancado'] = dados_alunos['Nota_Python_Avancado'].apply(lambda notaA : verificar_aprovacao(notaA))

print('Situacao em Python Basico:')
print(dados_alunos[['Nome', 'situacao_basico']])
print('\n')
print('Situacao em Python Avancado:')
print(dados_alunos[['Nome', 'situacao_avancado']])

Situacao em Python Basico:
    Nome situacao_basico
0    Ana        Aprovado
1  Maria        Aprovado
2   Joao       Reprovado
3   Jose        Aprovado


Situacao em Python Avancado:
    Nome situacao_avancado
0    Ana          Aprovado
1  Maria         Reprovado
2   Joao         Reprovado
3   Jose         Reprovado

In [ ]:
# f - outra forma

dados_alunos['situacao_basico'] = np.where(dados_alunos['Nota_Python_Basico'] >= 7.0, 'Aprovado', 'Reprovado')
dados_alunos['situacao_avancado'] = np.where(dados_alunos['Nota_Python_Avancado'] >= 7.0, 'Aprovado', 'Reprovado')

print('Situacao Python Basico:')
print(dados_alunos[['Nome', 'situacao_basico']])
print("\n")
print('Situacao Python Avancado:')
print(dados_alunos[['Nome', 'situacao_avancado']])

Situacao Python Basico:
    Nome situacao_basico
0    Ana        Aprovado
1  Maria        Aprovado
2   Joao       Reprovado
3   Jose        Aprovado


Situacao Python Avancado:
    Nome situacao_avancado
0    Ana          Aprovado
1  Maria         Reprovado
2   Joao         Reprovado
3   Jose         Reprovado

# Exceções

In [ ]:
2 + 'a'

TypeError: ignored

**Erros**

  * Cálculos incorretos
  * Funções incorretas
  * Falha no sistema de arquivos
  * Entrada de dados inválida
  * Entre outros

**Exceções**
 * Geradas por diferentes tipos de erros que surgem durante a execução do código
 * Implicam no término da execução do código

 * Exemplos:
    * Sintaxe incorreta
    * Caracteres inválidos
    * Valores fora da faixa (uint-8 para uint-64)
    * Erros de hardware
    * Erros na procura/abertura de um arquivo
    * Falha na memória
    * Entre outros

## Exceções e tipos de erros

[Exceções Python](https://docs.python.org/3/library/exceptions.html)

**Runtime**

  * Ocorrem quando algo de errado acontece durante a execução do programa.
    * Exemplos:
     * NameError
     * TypeError
     * KeyError
     * AttributeError
     * IndexError
     * ValueError

* **NameError** - Quando tentamos acessar uma variável que não existe

In [ ]:
print(x)

NameError: ignored

* **TypeError** - Quando tentamos usar um valor de forma inadequada (int - float ou float - int ou String - int ou int - String ou String - float ou float - String)

In [ ]:
x = [1,2,3]
print(x['x'])

TypeError: ignored

* **KeyError** - Quando tentamos acessar um elemento de um dicionário onde a chave não existe

In [ ]:
x = {'nome':'A', 'idade':20}
print(x['peso'])

KeyError: ignored

* **AttributeError** - Quando tentamos acessar um atributo ou uma função que não existe em um objeto

In [ ]:
x = [1,2,3]
print(x.nome)

AttributeError: ignored

* **IndexError** - Qunado tentamos acessar um elemento de uma sequência com um índice maior que o total de seus elementos menos um

In [ ]:
y = (1,2,3)
print(y[4])

IndexError: ignored

* **ValueError** - Quando tentamos acessar um elemento que tem um tipo correto, mas um valor inadequado

In [ ]:
x = [1,2,3,4]

y, z, w = x

print(y)
print(z)
print(w)

ValueError: ignored

## Tratamento de Exceções

* Identificar e tratar uma exceção
* Permite que o código continue executando
* Favorece o desenvolvimento de sistemas tolerantes a falhas


  * Estrutura:

```
try:
  <código>
except <exceção>:
  <código de tratamento da exceção>
else:
  <código executado se nenhuma exceção for lançada>
finally:
  <código independente>
```

* try -> executa o código que pode disparar uma exceção
* except -> trata a exceção
* else (opcional) -> trecho de código que precisa ser executado se nenhuma exceção for lançada
* finally (opcional) -> trecho de código que é sempre executado, ou seja, esse trecho é independente de uma exceção

### Exemplo - Divisão por zero

In [ ]:
try:
  x = int(input('Informe um numero: '))
  y = int(input('Informe outro numero: '))
  z = x / y
  print('Divisao por zero -> ', z)
except ZeroDivisionError:
  print('Tente de novo')

Informe um numero: 9
Informe outro numero: 0
Tente de novo

In [ ]:
try:
  x = int(input('Informe um numero: '))
  y = int(input('Informe outro numero: '))
  z = x / y
  print('Divisao por zero -> ', z)
except ZeroDivisionError:
  print('Tente de novo')
except TypeError:
  print('Tente de novo')

Informe um numero: 7
Informe outro numero: a

ValueError: ignored

In [ ]:
try:
  x = int(input('Informe um numero: '))
  y = int(input('Informe outro numero: '))
  z = x / y
  print('Divisao por zero -> ', z)
except ZeroDivisionError:
  print('Tente de novo')
except (TypeError, ValueError):
  print('Tente de novo')

Informe um numero: 1.5
Tente de novo

In [ ]:
def divisao(x,y):
  try:
    resultado = x/y
    # print(resultado)
  except (ZeroDivisionError, TypeError):
    print('Tente novamente')
  else:
    print('Resultado = ', resultado)
  finally:
    print('Executando...')

In [ ]:
divisao(10,10)

Resultado =  1.0
Executando...

In [ ]:
divisao(5,0)

Tente novamente
Executando...

In [ ]:
divisao(7, 'a')

Tente novamente
Executando...

In [ ]:
divisao(3,3.5)

0.8571428571428571
Resultado =  0.8571428571428571
Executando...

In [ ]:
divisao('a', 'b')

Tente novamente
Executando...